
.gradle/
build/
out/
*.class
*.war
*.jar
*.log
build/reports/
.vscode/
*.code-workspace
.idea/
*.iml
.settings/
*.classpath
*.project
gradle/wrapper/gradle-wrapper.properties
gradle/wrapper/gradle-wrapper.jar
App/registry/wallet/
fabric-samples/